<section class="hero">
  <div class="hero__container">
    <div class="hero__badge">Senior Scientific Computing Expert</div>
    <h1 class="hero__title">Advancing Quantum Chemistry & HPC</h1>
    <p class="hero__subtitle">Postdoctoral Research Associate, University of Colorado Denver • Accelerator-Ready Software • Fragment-Based Methods</p>
    
    <div class="hero__cta">
      <a href="/topics/computational-chemistry/" class="btn btn--primary btn--large">View My Work</a>
      <a href="/contact/" class="btn btn--outline btn--large">Get in Touch</a>
    </div>
  </div>
</section>