{% include header.html %}

<div class="sidebar-layout">
  <div class="sidebar-layout__sidebar">
    {% include masthead.html metadata=true %}
  </div>

  <div class="sidebar-layout__content">
    <main id="main-content" class="main-content">
      {% unless content == "" %}
        <div class="section">
          {{ content }}
        </div>
      {% endunless %}

      {% include projects.html %}

      {% if site.topics %}
        {% include interests.html %}
      {% endif %}

      {% unless posts_total == 0 %}
        {% include thoughts.html %}
      {% endunless %}
    </main>
  </div>
</div>

{% include footer.html %}
